/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Глобальные стили */
* {
  --color-white: #ffffff;
  --color-white-2: #fafafa; /* i'm sorry */
  --color-white-3:#f3f4f6; /* i'm sorry */
  --color-extra-light-grey: #eaecf0;
  --color-light-grey: #7f899e;
  --color-grey: #50586a;
  --color-dark-grey: #3c3c3c;
  --color-black-06: rgba(0, 0, 0, 0.6);
  --color-brand-green: #53c6d1;
  --tablet-width: 560px;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  color: var(--color-dark-grey);
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Анимация появления модального окна */
@-webkit-keyframes bounce {
  0%    { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70%   { -webkit-transform: translateY(30px); transform: translateY(30px);    }
  90%   { -webkit-transform: translateY(-10px); transform: translateY(-10px);   }
  100%  { -webkit-transform: translateY(0); transform: translateY(0);       }
}
@keyframes bounce {
  0%    { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70%   { -webkit-transform: translateY(30px); transform: translateY(30px);    }
  90%   { -webkit-transform: translateY(-10px); transform: translateY(-10px);   }
  100%  { -webkit-transform: translateY(0); transform: translateY(0);       }
}

/* Глобальный компонент BaseButton */
.button {
  padding: 8px 12px;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);

  background: var(--color-brand-green);
  border: none;
  border-radius: 6px;
}

/* Компонент Основного контента */
.main-content__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 16px;
  padding-top: 100px; /* Тут какой-то контент */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Компонент модального окна */
.modal {
  position: fixed;
  z-index: 2;
  display: none;
}

.modal--show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.modal__close-btn svg {
  width: 14px;
  height: 14px;
}

.modal__close-btn:hover svg path {
  fill: var(--color-dark-grey);
  -webkit-transition: fill 0.6s;
  -o-transition: fill 0.6s;
  transition: fill 0.6s;
}

.modal-review {
  top: 56px;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  height: calc(100% - 56px);
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 16px 16px 0px 0px;
}

.modal-review::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 148px;
  width: 24px;
  height: 3px;
  background-image: url(img/icon-rect.svg);
}

.section-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* Компонент подложки для модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;

  background-color: var(--color-black-06);
}

.modal-overlay--show {
  display: block;
}

/* Компонент формы отзыва */
.review-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-form__header {
  padding: 16px;
  padding-right: 40px;
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 16px;
}

.review-form__figure {
  margin-top: -16px;
}

.figure__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.figure__author {
  margin: 0;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey);
}

.figure__image-wrapper {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0;
  margin-bottom: 13px;
  width: 84px;
  height: 56px;
}

.rating-wrapper {
  padding: 16px;
}

.review-form__rating-wrapper {
  margin-top: -8px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.review-form__rating {
  margin-bottom: 16px;
  
}

.review-form__rating:last-child {
  margin-bottom: 0;
}

.rating__caption {
  margin-bottom: 8px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.rating__group {
  position: relative;
  width: 176px;
  height: 32px;
}

.rating__star {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  background-image: url(img/star.svg);
  background-position: 5.33px 4px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.rating__star:hover,
.rating__star:focus {
  background-image: url(img/star-filled.svg);
  outline: 2px solid var(--color-brand-green);

}

.rating__star--filled {
  background-image: url(img/star-filled.svg);
}

.rating__star:nth-of-type(2) {
  left: 36px;
}

.rating__star:nth-of-type(3) {
  left: 72px;
}

.rating__star:nth-of-type(4) {
  left: 108px;
}
.rating__star:nth-of-type(5) {
  left: 144px;
}

.comment-wrapper {
  padding: 16px;
  color: var(--color-light-grey);
}

.review-form__comment-wrapper {
  margin-top: -8px;
}

.comment {
  margin-bottom: 4px;
  padding: 16px 12px;
  width: 100%;
  height: 146px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  font: inherit;
  background: var(--color-white-2);
  border: 1px solid var(--color-extra-light-grey);
  border-radius: 6px;
  resize : none;
}

.comment__caption {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 8px 80px 8px auto;
  grid-template-columns: 80px 80px auto;
  gap: 8px;
  margin: 0;
  padding: 16px;
  list-style: none;
}

.review-form__gallery {
  margin-top: -16px;
}

.gallery__item {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 8px;
}

.gallery__item:last-child {
  margin-right: 0;
}

.gallery__btn-add {
  width: 80px;
  height: 80px;
  background-color: var(--color-white-3);
  border: 1px solid var(--color-extra-light-grey);
  border-radius: 6px;
}

.gallery__btn-add svg {
  width: 14px;
  height: 14px;
}

.gallery__btn-del {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
}

.gallery__btn-del::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 17px;
  width: 14px;
  height: 18px;
  background-image: url(img/icon-delete.svg);
}

.gallery__btn-del svg {
  width: 14px;
  height: 18px;
}

.gallery__item:hover:not(.gallery__btn-add) .gallery__btn-del {
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.gallery__btn-add:hover,
.gallery__btn-add:focus {
  border-color: var(--color-light-grey);
  -webkit-transition: border-color 0.6s;
  -o-transition: border-color 0.6s;
  transition: border-color 0.6s;
}

.gallery__btn-add:hover svg path,
.gallery__btn-add:focus svg path {
  fill: var(--color-light-grey);
  -webkit-transition: fill 0.6s;
  -o-transition: fill 0.6s;
  transition: fill 0.6s;
}

.review-form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid var(--color-extra-light-grey);
}

/* Стили для viewport 560px и выше */
@media (min-width: 560px) {
  .main-content__wrapper {
    width: var(--tablet-width);
    padding: 16px 32px;
    padding-top: 100px; /* Тут какой-то контент */
  }

  .modal-review {
    margin-left: calc(var(--tablet-width) / -2);
    width: var(--tablet-width);
    height: auto;
    border-radius: 16px;
  }

  .modal-review::before {
    content: none;
  }
  
  .review-form__header {
    padding: 16px 32px;
    padding-right: 40px;
    border-bottom: 1px solid var(--color-extra-light-grey);
  }

  .figure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 24px 32px;
  }

  .review-form__figure {
    margin-top: 0;
  }

  .figure__caption {
    margin-top: 12px;
  }
  

  .figure__image-wrapper {
    width: 102px;
    height: 68px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  
  .rating-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 210px 20px auto;
    grid-template-columns: 210px auto;
    gap: 20px;
    padding: 32px;
  }

  .review-form__rating-wrapper {
    margin-top: -24px;
  }
  
  .review-form__rating {
    margin-bottom: 0;
  }

  .comment-wrapper {
    padding: 32px;
  }
  
  .review-form__comment-wrapper {
    margin-top: -36px;
  }

  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 32px;
  }
  
  .review-form__gallery {
    margin-top: -40px;
  }

  .review-form__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 24px 32px;
  }
}